* {
    font-family: var(--bs-body-font);
}
footer {
    background-color: var(--bs-header-background-color);
    color: var(--bs-header-text-color);
    font-family: var(--bs-body-font);
    font-size: 0.8rem;
    text-align: center;
    padding: 1em;
}
.main-footer {
    background-color: var(--bs-header-background-color);
    color: var(--bs-header-text-color);
    font-family: var(--bs-body-font);
    padding: 2em;
    text-align: center;
}
footer .footer-group {
    margin-bottom: 1rem;
}
footer h4 {
    font-size: 1.2rem;
    margin: 0.5em 0;
}
#footer-phone {
    padding-top: 1em;
}
.footer-right {
    width: 100%;
    text-align: center;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

@supports ((background-clip: text) or (-webkit-background-clip: text)) {
    .social-media .sm.ig .fa-instagram {
        background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }
}

#copyright {
    padding-top: 1rem;
    grid-column: 1 / -1;
    font-size: 0.5rem;
    color: navy;
}
@media (min-width: 500px) {
    .main-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        align-items: center;
        gap: 1rem;
    }
    footer .footer-group {
        text-align: left;
    }
    #copyright {
        text-align: center;
        grid-column: 1 / -1;
        font-size: 0.5rem;
        color: navy;

    }
    .footer-right {
        width: 100%;
        text-align: center;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    #appt-req-homepage {
        margin: 0 1rem;
    }
}