
:root {
    --bs-body-font: Arial, sans-serif;
    --bs-title-font: Segoe UI, Tahoma;
    --bs-welcome-font: PT Sans Narrow;

    --bs-background-color: #FCFFF5;
    --bs-header-background-color: #afbbe6;
    --bs-header-text-color: #0E1F2D;
    --bs-body-text-color: #0E1F2D;
    --bs-hover-color: #104025;
    --bs-hover-background-color: #91a2ff;
    --bs-link-color: #1A3A5A;
    --bs-button-background-color: #1A3A5A;
    --bs-link-hover-color: #008080;
    --bs-text-color-light: #FCFFF5;
    --bs-text-color-dark: #0E1F2D;

    --bs-border-radius-medium: 5px;
    --bs-border-radius-large: 20px;
}