
/* admin login container */
#admin-login-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 2rem auto;
    padding: 1.5rem;
    border-radius: var(--bs-border-radius-medium);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.072);
    background-color: var(--bs-background-color);
    justify-content: center;
    align-items: center;
}
/* header */
h2 {
    color: navy;
    margin-bottom: 1rem;
    font-family: var(--bs-title-font);
    font-size: 1.5rem;
    text-align: center;
}
/* form container */
#admin-login-form {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    width: 100%;
}
/* email/password lable and input */
label[for="login-email"], 
label[for="login-password"] {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: bold;
    color: navy;
}
input[type="email"], 
input[type="password"] {
    padding: 0.4rem 0.5rem;
    border: 1px solid var(--bs-border-color-light);
    border-radius: var(--bs-border-radius-medium);
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9rem;
    cursor: pointer;
}
/* password container */
label[for="login-password"] {
    margin-top: 1rem;
}
/* parent container */
.password-container {
    position: relative;
    width: 100%;
}
.password-container input {
    width: 100%;
    padding-right: 2.5rem;
    box-sizing: border-box;
}
/* icon button */
.password-container .show-password {
    position: absolute;
    right: 0.8rem;
    top: 50%;
    transform: translateY(-240%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* eye icon (svg) */
.show-password svg {
    width: 1.1rem;
    height: 1.1rem;
    fill: rgba(92, 92, 126, 0.807);
    transition: transform 0.2s ease, fill 0.2s ease;
}
/* hover effect */
.show-password:hover svg {
    fill: rgba(92, 92, 126, 0.807);
    transform: scale(1.1);
}
.icon-eye-slash {
    display: none; 
}
.icon-eye-hidden {
    display: none;
}
/* submit button */
#submit {
    margin: 2rem auto 0 auto;
    padding: 0.6rem;
    border: none;
    width: 100%;
    border-radius: var(--bs-border-radius-large);
    background-color: rgb(47, 47, 129);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(97, 108, 123, 0.44);
    transition: background-color 0.3s ease, transform 0.15s ease, box-shadow 0.15s ease;
}