
h1 {
    font-size: 1.5rem;
    text-align: center;
    color: navy;
    margin-bottom: 1rem;
}
#dashboard-container {
    margin: 2rem auto;
    max-width: 500px;
    padding: 2rem;
    border: 1px solid var(--bs-border-color-light);
    border-radius: var(--bs-border-radius-medium);
    background-color: var(--bs-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.134);
    color: navy;
}
section {
    margin-bottom: 2rem;
    border: 1px solid var(--bs-border-color-light);
    border-radius: var(--bs-border-radius-medium);
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.213);
}
h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: navy;
    text-align: center;
}
#appointments-table {
    width: 100%;
    border-collapse: collapse;
}
#appointments-table td {
    text-align: center;
}
#create-appt-container {
    padding: 1rem;
}
#create-appt-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#create-appt-form label {
    font-weight: bold;
}
#create-appt-form select,
#create-appt-form input {
    padding: 0.25rem 0.3rem;
    border: 1px solid var(--bs-border-color-light);
    border-radius: var(--bs-border-radius-medium);
    font-size: 0.9rem;
    color: gray;
    width: 100%;
}
button {
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: var(--bs-border-radius-large);
    color: white;
    background-color: navy;
    width: 50%;
    margin: 0 auto;
}
#admin-logout {
    margin: 0 auto;
    display: block;
    width: 50%;
    font-size: 1rem;
}