@import "partials/header.css";
@import "partials/footer.css";
@import "partials/variables.css";

/* get rid of page shifting */
html, 
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
    min-height: 0;
}
footer {
    flex-shrink: 0;
}