

.modal.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.modal-content {
    background: white;
    padding: 2rem;
    border-radius: var(--bs-border-radius-medium);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    width: 320px;
    text-align: center;
}
.modal-content label {
    display: block;
    margin-bottom: 0.75rem;
}
.modal-content input {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
    border: 1px solid var(--bs-border-color-light);
    border-radius: var(--bs-border-radius-medium);
    box-sizing: border-box;
}
.modal-content .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    border-radius: var(--bs-border-radius-large);
    gap: 1rem;
}
/* header */
h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: navy;
    text-align: center; 
}
h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: navy;
    text-align: center; 
}
/* whole container */
#employee-dashboard {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    max-width: 800px;
    width: 350px;
    padding: 2rem;
    background-color: var(--bs-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.134);
    border-radius: var(--bs-border-radius-medium);
    color: navy;

}
#appointments-container {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid var(--bs-border-color-light);
    padding-bottom: 1rem;
}
#appointments-container button, 
#employee-dashboard button  {
    display: block;
    width: 350px;
    max-width: 90%;
    text-align: center;
    border: none;
    border-radius: 2rem;
    background-color: navy;
    color: white;
    padding: 0.5rem 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}
#appointments-container button:hover, 
#employee-dashboard button:hover {
    background-color: rgb(205, 205, 224);
    color: navy;
    transform: scale(1.02);
}
button {
    cursor: pointer;
    color: white;
    background-color: navy;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--bs-border-radius-large);
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.284);
}
button:hover {
    background-color: var(--bs-hover-background-color);
    color: navy;
}
#admin-logout {
    margin-top: 1rem;
    border-top: 1px solid var(--bs-border-color-light);
    padding-top: 1rem;
}
#appointments-container button.delete-button {
    background-color: rgba(218, 75, 75, 0.536);
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.284);
    transition: background-color 0.3s ease, transform 0.1s ease;
    width: 30%;
    padding: 0.1rem 0.1rem;
}
#appointments-container button.delete-button:hover {
    background-color: rgb(121, 23, 6);
    color: white;
    transform: scale(1.03);
}