
.modal.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.modal-content {
    background: white;
    padding: 2rem;
    border-radius: var(--bs-border-radius-medium);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    width: 320px;
    text-align: center;
}
.modal-content label {
    display: block;
    margin-bottom: 0.75rem;
}
.modal-content input {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
}
.modal-content .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
button {
    cursor: pointer;
    color: white;
    background-color: navy;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--bs-border-radius-medium);
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    width: 80%;
    margin: 0 auto;
}
button:hover {
    background-color: var(--bs-hover-background-color);
    color: navy;
}