
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-family: var(--bs-body-font);
}
.password-reset-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    color: navy;
    animation: fadeIn 0.7s ease;
    max-width: 400px;
    margin: 2rem auto;
    text-align: center;
    border-radius: var(--bs-border-radius-medium);
    background-color: var(--bs-background-color);
    box-shadow: 0 4px 8px rgba(214, 207, 207, 0.72);
}
.password-reset-container input, 
.password-reset-container button {
    font-size: 0.9rem;
    padding: 0.5rem;
    border: 1px solid #999;
    border-radius : var(--bs-border-radius-medium);
}
.password-reset-container button {
    background-color: navy;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease
}
.password-reset-container button:hover {
    background-color: var(--bs-hover-background-color);
    color: navy;
}
.password-reset-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
}
#status-message {
    opacity: 0;
    transition: opacity 0.3s ease;
}
status-message:not(.hidden) {
    opacity: 1;
}
h1 {
    font-size: 1.5rem;
}
label {
    border-radius: var(--bs-border-radius-large);
}
button {
    border-radius: var(--bs-border-radius-large);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}